{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 52
        },
        "modules": false,
        "useBuiltIns": true
      }
    ]
  ],
  "env": {
    "production": {
      "presets": ["babili"]
    }
  }
}
